prowjob_namespace: prow
pod_namespace: prow-test-pods
log_level: debug

branch-protection:
  enforce_admins: true # rules apply to admins too!
  orgs:
    tikv:
      repos:
        community:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "Sig Info File Format"
                  - "DCO"
        pd:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "statics"
                  - "idc-jenkins-ci-pd/check_release_note"
                  - "idc-jenkins-ci/test"
                  - "idc-jenkins-ci/build"
                strict: true
        tikv:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-master-rerere"
                strict: false
            release-2.1:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-2.1-rerere"
                strict: false
            release-3.0:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-3.0-rerere"
                strict: false
            release-4.0:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-4.0-rerere"
                strict: false
            release-5.0-rc:
              protect: true
              required_status_checks:
                contexts:
                  - "DCO"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-5.0-rc-rerere"
                strict: false
    pingcap:
      repos:
        community:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "Sig Info File Format"
                  - "license/cla"
        tidb-dashboard:
          branches:
            master:
              enforce_admins: false
              protect: true
              required_status_checks:
                contexts:
                  - "backend"
                  - "UI"
                  - "frontend"
                  - "license/cla"
                strict: true
        tidb-operator:
          branches:
            master:
              enforce_admins: false
              protect: true
              required_status_checks:
                contexts:
                  - "pull"
                  - "pull (verify)"
                  - "pull (build)"
                  - "pull (test)"
                  - "pull (e2e-examples)"
                  - "jenkins-ci / pull-e2e-kind"
                  - "jenkins-ci / pull-e2e-kind-serial"
                  - "license/cla"
                strict: true
        tiup:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "Install"
                  - "cluster (test_cmd)"
                  - "cluster (test_scale_core)"
                  - "dm (--do-cases test_cmd)"
                  - "playground (test_playground)"
                  - "tiup (test_tiup)"
                  - "reprotest (1.13)"
                  - "cluster (test_upgrade)"
                  - "cluster (test_scale_tools)"
                  - "dm (--do-cases test_upgrade)"
                  - "reprotest (1.14)"
                  - "cluster (test_scale_core_tls)"
                  - "dm (--native-ssh --do-cases test_cmd)"
                  - "reprotest (1.15)"
                  - "cluster (test_scale_tools_tls)"
                  - "dm (--native-ssh --do-cases test_upgrade)"
                  - "Local Install"
                  - "unit-test"
                  - "license/cla"
                strict: true
    ti-community-infra:
      repos:
        ti-community-prow:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "build"
                  - "lint"
                  - "Semantic Pull Request"
                  - "codecov/project"
                strict: false
        configs:
          branches:
            main:
              protect: true
              required_status_checks:
                contexts:
                  - "Semantic Pull Request"
                strict: true
        ti-community-bot:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "build (10.x, ubuntu-latest)"
                  - "build (10.x, macos-latest)"
                  - "build (12.x, ubuntu-latest)"
                  - "build (12.x, macos-latest)"
                  - "Semantic Pull Request"
                  - "codecov/project"
                strict: true
        ti-challenge-bot:
          branches:
            master:
              protect: true
              required_status_checks:
                contexts:
                  - "build (10.x, ubuntu-latest)"
                  - "build (10.x, macos-latest)"
                  - "build (10.x, windows-latest)"
                  - "build (12.x, ubuntu-latest)"
                  - "build (12.x, macos-latest)"
                  - "build (12.x, windows-latest)"
                  - "Semantic Pull Request"
                strict: true

in_repo_config:
  enabled:
    ti-community-infra/configs: true
    ti-community-infra/ti-community-prow: true

deck:
  spyglass:
    lenses:
      - lens:
          name: metadata
        required_files:
          - started.json|finished.json
      - lens:
          config:
          name: buildlog
        required_files:
          - build-log.txt
      - lens:
          name: junit
        required_files:
          - .*/junit.*\.xml
      - lens:
          name: podinfo
        required_files:
          - podinfo.json

plank:
  job_url_prefix_config:
    "*": https://prow.tidb.io/view/
  report_templates:
    '*': >-
      [Full PR test history](https://prow.tidb.io/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
      [Your PR dashboard](https://prow.tidb.io/pr?query=is%3Apr%20state%3Aopen%20author%3A{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      gcs_configuration:
        bucket: gs://prow-tidb-logs
        path_strategy: explicit
      gcs_credentials_secret: gcs-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20201217-2de500de27
        entrypoint: gcr.io/k8s-prow/entrypoint:v20201217-2de500de27
        initupload: gcr.io/k8s-prow/initupload:v20201217-2de500de27
        sidecar: gcr.io/k8s-prow/sidecar:v20201217-2de500de27

tide:
  sync_period: 2m

  merge_method:
    ti-community-infra/ti-challenge-bot: squash
    ti-community-infra/ti-community-bot: squash
    ti-community-infra/ti-community-prow: squash
    ti-community-infra/configs: squash
    ti-community-infra/test-live: squash
    tikv/community: squash
    tikv/pd: squash
    tikv/tikv: squash
    pingcap/community: squash
    pingcap/tidb-dashboard: squash
    pingcap/tidb-operator: squash
    pingcap/tiup: squash

  target_url: https://prow.tidb.io/tide

  pr_status_base_urls:
    '*': https://prow.tidb.io/pr

  queries:
    - repos:
        - tikv/pd
        - pingcap/tidb-dashboard
        - pingcap/tidb-operator
      labels:
        - status/can-merge
      missingLabels:
        - needs-rebase
    - repos:
        - ti-community-infra/ti-challenge-bot
        - ti-community-infra/ti-community-bot
        - ti-community-infra/ti-community-prow
        - ti-community-infra/configs
        - ti-community-infra/test-live
        - pingcap/tiup
        - pingcap/community
        - tikv/community
        - tikv/tikv
      labels:
        - status/can-merge
      missingLabels:
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-rebase

  context_options:
    orgs:
      ti-community-infra:
        repos:
          ti-challenge-bot:
            from-branch-protection: true
          ti-community-bot:
            from-branch-protection: true
          ti-community-prow:
            from-branch-protection: true
          configs:
            from-branch-protection: true
      tikv:
        repos:
          pd:
            required-contexts:
              - "DCO"
              - "statics"
              - "idc-jenkins-ci-pd/check_release_note"
              - "idc-jenkins-ci-pd/integration-common-test"
              - "idc-jenkins-ci-pd/integration-compatibility-test"
              - "idc-jenkins-ci-pd/integration-ddl-test"
              - "idc-jenkins-ci-pd/integration-lightning-test"
              - "idc-jenkins-ci/build"
              - "idc-jenkins-ci/test"
            skip-unknown-contexts: true
          tikv:
            branches:
              master:
                required-contexts:
                  - "DCO"
                  - "idc-jenkins-ci-tikv/check_release_note"
                  - "idc-jenkins-ci-tikv/integration-common-test"
                  - "idc-jenkins-ci-tikv/integration-compatibility-test"
                  - "idc-jenkins-ci-tikv/integration-copr-test"
                  - "idc-jenkins-ci-tikv/integration-ddl-test"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-master-rerere"
                skip-unknown-contexts: true
              release-2.1:
                required-contexts:
                  - "DCO"
                  - "idc-jenkins-ci-tikv/check_release_note"
                  - "idc-jenkins-ci-tikv/integration-common-test"
                  - "idc-jenkins-ci-tikv/integration-compatibility-test"
                  - "idc-jenkins-ci-tikv/integration-copr-test"
                  - "idc-jenkins-ci-tikv/integration-ddl-test"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-2.1-rerere"
                skip-unknown-contexts: true
              release-3.0:
                required-contexts:
                  - "DCO"
                  - "idc-jenkins-ci-tikv/check_release_note"
                  - "idc-jenkins-ci-tikv/integration-common-test"
                  - "idc-jenkins-ci-tikv/integration-compatibility-test"
                  - "idc-jenkins-ci-tikv/integration-copr-test"
                  - "idc-jenkins-ci-tikv/integration-ddl-test"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-3.0-rerere"
                skip-unknown-contexts: true
              release-4.0:
                required-contexts:
                  - "DCO"
                  - "idc-jenkins-ci-tikv/check_release_note"
                  - "idc-jenkins-ci-tikv/integration-common-test"
                  - "idc-jenkins-ci-tikv/integration-compatibility-test"
                  - "idc-jenkins-ci-tikv/integration-copr-test"
                  - "idc-jenkins-ci-tikv/integration-ddl-test"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-4.0-rerere"
                skip-unknown-contexts: true
              release-5.0-rc:
                required-contexts:
                  - "DCO"
                  - "idc-jenkins-ci-tikv/check_release_note"
                  - "idc-jenkins-ci-tikv/integration-common-test"
                  - "idc-jenkins-ci-tikv/integration-compatibility-test"
                  - "idc-jenkins-ci-tikv/integration-copr-test"
                  - "idc-jenkins-ci-tikv/integration-ddl-test"
                  - "idc-jenkins-ci/test"
                  - "pull-tikv-release-5.0-rc-rerere"
                skip-unknown-contexts: true
      pingcap:
        repos:
          tidb-dashboard:
            from-branch-protection: true
          tidb-operator:
            from-branch-protection: true
          tiup:
            from-branch-protection: true
