tichi-web-url: https://prow.tidb.io/tichi
pr-process-link: https://book.prow.tidb.io/#/en/workflows/pr
command-help-link: https://prow.tidb.io/command-help

ti-community-lgtm:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/tichi
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-sync-bot
      - ti-community-infra/rfcs
      - tikv/pd
      - pingcap/tidb-dashboard
      - pingcap/tidb-operator
      - pingcap/tiup
      - tikv/tikv
      - tikv/community
      - pingcap/community
    review_acts_as_lgtm: true
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners

ti-community-merge:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/tichi
      - ti-community-infra/configs
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-sync-bot
      - ti-community-infra/rfcs
      - tikv/pd
      - pingcap/tidb-dashboard
      - pingcap/tidb-operator
      - pingcap/tiup
      - tikv/tikv
      - tikv/community
      - pingcap/community
    store_tree_hash: true
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners

ti-community-owners:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/tichi
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-sync-bot
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/rfcs
    default_require_lgtm: 1
    default_sig_name: community-infra
    sig_endpoint: https://bots.tidb.io/ti-community-bot
  - repos:
      - tikv/pd
    default_sig_name: scheduling
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-2.1:
        trusted_teams:
          - qa-release-merge
      release-3.0:
        trusted_teams:
          - qa-release-merge
      release-4.0:
        trusted_teams:
          - qa-release-merge
      release-5.0-rc:
        trusted_teams:
          - qa-release-merge
  - repos:
      - pingcap/tidb-dashboard
    default_sig_name: diagnosis
    default_require_lgtm: 1
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
  - repos:
      - pingcap/tidb-operator
    default_sig_name: k8s
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-1.1:
        default_require_lgtm: 1
  - repos:
      - pingcap/tiup
    default_sig_name: tiup
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    default_require_lgtm: 1
    require_lgtm_label_prefix: require-LGT
  - repos:
      - tikv/tikv
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-2.1:
        trusted_teams:
          - qa-release-merge
      release-3.0:
        trusted_teams:
          - qa-release-merge
      release-4.0:
        trusted_teams:
          - qa-release-merge
      release-5.0-rc:
        trusted_teams:
          - qa-release-merge
  - repos:
      - tikv/community
      - pingcap/community
    default_require_lgtm: 1
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    use_github_permission: true

ti-community-label:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/tichi
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-sync-bot
    prefixes:
      - type
    additional_labels:
      - 'help wanted'
      - 'good first issue'
  - repos:
      - ti-community-infra/rfcs
    prefixes:
      - type
    additional_labels:
      - 'breaking change'
  - repos:
      - pingcap/tiup
    prefixes:
      - category
      - difficulty
      - priority
      - status
      - type
    additional_labels:
      - 'help wanted'
      - 'good first issue'
    exclude_labels:
      - status/can-merge
  - repos:
      - tikv/pd
    prefixes:
      - component
      - difficulty
      - epic
      - feature
      - priority
      - severity
      - status
      - type
    additional_labels:
      - 'Hacktoberfest'
      - 'challenge-program'
      - 'ci-unstable'
      - 'compatibility-breaker'
      - 'high-performance'
      - 'hptc'
      - 'needs-cherry-pick-1.0'
      - 'needs-cherry-pick-2.0'
      - 'needs-cherry-pick-2.1'
      - 'needs-cherry-pick-3.0'
      - 'needs-cherry-pick-3.1'
      - 'needs-cherry-pick-4.0'
      - 'release-note'
      - 'require-LGT1'
      - 'wontfix'
    exclude_labels:
      - status/can-merge
  - repos:
      - tikv/tikv
    prefixes:
      - component
      - difficulty
      - feature
      - priority
      - severity
      - sig
      - status
      - type
    additional_labels:
      - 'challenge-program'
      - 'compatibility-breaker'
      - 'high-performance'
      - 'hptc'
      - 'needs-cherry-pick-2.1'
      - 'needs-cherry-pick-3.0'
      - 'needs-cherry-pick-3.1'
      - 'needs-cherry-pick-4.0'
      - 'needs-cherry-pick-5.0-rc'
      - 'wontfix'
      - 'do-not-merge/cherry-pick-not-approved'
    exclude_labels:
      - status/can-merge

ti-community-autoresponder:
  - repos:
      - ti-community-infra/test-live
    auto_responds:
      - regex: "(?merrori)^/ping\\s*$"
        message: "pong"
  - repos:
      - tikv/pd
    auto_responds:
      - regex: "(?mi)^/merge\\s*$"
        message: |
          It seems you want to merge this PR, I will help you trigger all the tests:

          /run-all-tests
  - repos:
      - tikv/tikv
    auto_responds:
      - regex: "(?mi)^/merge\\s*$"
        message: |
          It seems you want to merge this PR, I will help you trigger all the tests:

          /run-all-tests

          You only need to trigger `/merge` once, and if the CI test fails, you just re-trigger the test that failed and the bot will merge the PR for you after the CI passes.

          If you have any questions about the PR merge process, please refer to [pr process](https://book.prow.tidb.io/#/en/workflows/pr).

ti-community-blunderbuss:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/tichi
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-sync-bot
      - ti-community-infra/rfcs
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-chi-bot
      - rustin-bot
      # Inactive reviewers
      - sykp241095
  - repos:
      - tikv/pd
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-chi-bot
      - ti-srebot
      # Maintainers
      - siddontang
      - sunxiaoguang
      - winkyao
      - zhangjinpeng1987
      - lidaobing
      - fredchenbj
      - BusyJay
      # Inactive reviewers
      - overvenus
      - Connor1996
      - qiuyesuifeng
      - huachaohuang
      - howardlau1999
      - xhebox
      - Luffbee
      - shafreeck
  - repos:
      - pingcap/tidb-operator
      - pingcap/tiup
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-chi-bot
      - ti-srebot
      # Maintainers
      - coocood
      - shenli
      - jackysp
      - zz-jason
      - winkyao
  - repos:
      - pingcap/community
      - tikv/community
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-chi-bot
      - ti-srebot
    require_sig_label: true

ti-community-tars:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-sync-bot
    only_when_label: "status/can-merge"
    message: "Your PR has out-of-dated, I have automatically updated it for you."
  - repos:
      - tikv/pd
      - tikv/tikv
    only_when_label: "status/can-merge"
    message: |
      Your PR has out-of-dated, I have automatically updated it for you.

      At the same time I will also trigger all tests for you:

      /run-all-tests
  - repos:
      - pingcap/tidb-operator
      - pingcap/tiup
    only_when_label: "status/can-merge"
    message: |
      Your PR has out-of-dated, I have automatically updated it for you.

ti-community-label-blocker:
  - repos:
      - tikv/tikv
    block_labels:
      - regex: "^status/LGT[\\d]+$"
        actions:
          - labeled
          - unlabeled
        trusted_users:
          - ti-chi-bot
      - regex: "^status/can-merge$"
        actions:
          - labeled
          - unlabeled
        trusted_users:
          - ti-chi-bot
      - regex: "^cherry-pick-approved$"
        actions:
          - labeled
          - unlabeled
        trusted_teams:
          - qa-release-merge