ti-community-lgtm:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-prow
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
      - tikv/pd
      - pingcap/tidb-dashboard
      - pingcap/tidb-operator
      - pingcap/tiup
      - tikv/tikv
    review_acts_as_lgtm: true
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
  - repos:
      - tikv/community
      - pingcap/community
    review_acts_as_lgtm: true
    pull_owners_endpoint: https://bots.tidb.io/ti-community-bot

ti-community-merge:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-prow
      - ti-community-infra/configs
      - ti-community-infra/ti-challenge-bot
      - ti-community-infra/ti-community-bot
      - tikv/pd
      - pingcap/tidb-dashboard
      - pingcap/tidb-operator
      - pingcap/tiup
      - tikv/tikv
    store_tree_hash: true
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
  - repos:
      - tikv/community
      - pingcap/community
    store_tree_hash: true
    pull_owners_endpoint: https://bots.tidb.io/ti-community-bot

ti-community-owners:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-prow
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
    default_require_lgtm: 1
    sig_endpoint: https://bots.tidb.io/ti-community-bot
  - repos:
      - tikv/pd
    default_sig_name: scheduling
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-2.1:
        trusted_teams:
          - qa-release-merge
      release-3.0:
        trusted_teams:
          - qa-release-merge
      release-4.0:
        trusted_teams:
          - qa-release-merge
      release-5.0-rc:
        trusted_teams:
          - qa-release-merge
  - repos:
      - pingcap/tidb-dashboard
    default_sig_name: diagnosis
    default_require_lgtm: 1
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
  - repos:
      - pingcap/tidb-operator
    default_sig_name: k8s
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-1.1:
        default_require_lgtm: 1
  - repos:
      - pingcap/tiup
    default_sig_name: tiup
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    default_require_lgtm: 1
    require_lgtm_label_prefix: require-LGT
  - repos:
      - tikv/tikv
    trusted_teams:
      - maintainers
    sig_endpoint: https://bots.tidb.io/ti-community-bot
    require_lgtm_label_prefix: require-LGT
    branches:
      release-2.1:
        trusted_teams:
          - qa-release-merge
      release-3.0:
        trusted_teams:
          - qa-release-merge
      release-4.0:
        trusted_teams:
          - qa-release-merge
      release-5.0-rc:
        trusted_teams:
          - qa-release-merge

ti-community-label:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-prow
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
    prefixes:
      - type
    additional_labels:
      - 'help wanted'
      - 'good first issue'
  - repos:
      - pingcap/tiup
    prefixes:
      - category
      - difficulty
      - priority
      - status
      - type
    additional_labels:
      - 'help wanted'
      - 'good first issue'
    exclude_labels:
      - status/can-merge
  - repos:
      - tikv/pd
    prefixes:
      - component
      - difficulty
      - epic
      - feature
      - priority
      - severity
      - status
      - type
    additional_labels:
      - 'Hacktoberfest'
      - 'challenge-program'
      - 'ci-unstable'
      - 'compatibility-breaker'
      - 'high-performance'
      - 'hptc'
      - 'needs-cherry-pick-1.0'
      - 'needs-cherry-pick-2.0'
      - 'needs-cherry-pick-2.1'
      - 'needs-cherry-pick-3.0'
      - 'needs-cherry-pick-3.1'
      - 'needs-cherry-pick-4.0'
      - 'release-note'
      - 'require-LGT1'
      - 'wontfix'
    exclude_labels:
      - status/can-merge

ti-community-autoresponder:
  - repos:
      - ti-community-infra/test-live
    auto_responds:
      - regex: "(?mi)^/ping\\s*$"
        message: "pong"
  - repos:
      - tikv/pd
    auto_responds:
      - regex: "(?mi)^/merge\\s*$"
        message: |
          It seems you want to merge this PR, I will help you trigger all the tests:

          /run-all-tests
  - repos:
      - tikv/tikv
    auto_responds:
      - regex: "(?mi)^/merge\\s*$"
        message: |
          It seems you want to merge this PR, I will help you trigger all the tests:

          /run-all-tests
      - regex: "(?i)^LGTM"
        message: |
          Please use `/LGTM` instead of `LGTM` when you want to approve the pull request by comment.

          If you use the GitHub review feature, please approve the PR directly, the comment will not take effect in the GitHub review feature.

          If you have any qustions please refer to [lgtm command help](https://prow.tidb.io/command-help) or [lgtm plugin design](https://book.prow.tidb.io/plugins/lgtm.html).

ti-community-blunderbuss:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/ti-community-prow
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-community-prow-bot
      - rustin-bot
      # Inactive reviewers
      - sykp241095
      - AndreMouche
  - repos:
      - tikv/pd
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-community-prow-bot
      - ti-srebot
      # Maintainers
      - siddontang
      - BusyJay
      - sunxiaoguang
      - winkyao
      - zhangjinpeng1987
      # Inactive reviewers
      - overvenus
      - Connor1996
      - qiuyesuifeng
      - huachaohuang
      - howardlau1999
      - xhebox
      - Luffbee
      - shafreeck
  - repos:
      - pingcap/tidb-operator
      - pingcap/tiup
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-community-prow-bot
      - ti-srebot
      # Maintainers
      - coocood
      - shenli
      - jackysp
      - zz-jason
      - winkyao
  - repos:
      - pingcap/community
      - tikv/community
    pull_owners_endpoint: https://bots.tidb.io/ti-community-bot
    max_request_count: 2
    exclude_reviewers:
      # Bots
      - ti-community-prow-bot
      - ti-srebot
  - repos:
      - tikv/tikv
    pull_owners_endpoint: https://prow.tidb.io/ti-community-owners
    max_request_count: 3
    exclude_reviewers:
      # Bots
      - ti-community-prow-bot
      - ti-srebot
    require_sig_label: true

ti-community-tars:
  - repos:
      - ti-community-infra/test-live
      - ti-community-infra/configs
      - ti-community-infra/ti-community-bot
      - ti-community-infra/ti-challenge-bot
    only_when_label: "status/can-merge"
    message: "Your PR has out-of-dated, I have automatically updated it for you."
  - repos:
      - tikv/pd
      - tikv/tikv
    only_when_label: "status/can-merge"
    message: |
      Your PR has out-of-dated, I have automatically updated it for you.

      At the same time I will also trigger all tests for you:

      /run-all-tests

      You only need to trigger `/merge` once, and if the CI test fails, you just re-trigger the test that failed and the bot will merge the PR for you after the CI passes.

      If you have any questions about the PR merge process, please refer to [pr process](https://book.prow.tidb.io/workflows/pr.html).
  - repos:
      - pingcap/tidb-operator
      - pingcap/tiup
    only_when_label: "status/can-merge"
    message: |
      Your PR has out-of-dated, I have automatically updated it for you.

